[Unit]
Description=main leap service
Wants=var-lib-leap.mount

[Service]
ExecStart=/usr/bin/leap-server --fallback
Type=exec
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
